@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
	--background: linear-gradient(135deg, #667eea7e 0%, #764ba298);
	--color-primary:#667eea;
	--color-secundary:#764ba2;
	--boton--padding: 20px 40px;
}
body{
	font-family: 'Raleway', sans-serif;
}

.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 80px 0;
	max-width: 1200px;
}

.subtitle{
	color:var(--color-primary);
	font-size: 2.5rem;
	margin-bottom: 35px;
}

.hero{
	height: 100vh;
	background-image:var(--background),url("../assets/slider4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}

.hero .container{
	padding: 0;
}

.nav{
	display: flex;
	justify-content: flex-end;
	height: 70px;
	align-items: center;
	font-weight: 700;
}

.nav--footer{
	font-weight: 300;
	justify-content: flex-start;
}

.nav_items{
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
	padding: 10px 15px;
	font-weight: inherit;
}
.nav_items--cta{
	border: 1px solid #fff;
}

.nav_items--footer{
	padding: 10px;
}
.hero_container{
	display: flex;
	height: calc(100vh - 70px);
	align-items: center;
	color: #fff;
}

.hero_text{
	width: 80%;
	margin-bottom: 50px;
	
}

.hero_title{
	font-size: 3.2rem;
}

.hero_subtitle{
	font-size: 2rem;
	font-weight: 300;
	margin: 15px 0;
}

.hero_cta{
	display: inline-block;
	background: #fff;
	padding:20px 40px;
	color: var(--color-primary);
	text-decoration: none;
	border-radius: 40px;
}
.hero_wave{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

/* about */
.presentation{
	padding-top: 0;
	text-align: center;
}
.presentation_copy{
	width: 80%;
	margin: 0 auto;
}
.presentation_cta{
	display: inline-block;
	margin-top: 30px;
	background:  var(--color-primary);
	color:#fff;
	text-decoration: none;
	padding: 20px 40px;
	border-radius: 40px;
}

.presentation_picture{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 10px;
	object-fit: cover;
	object-position: top;
}

.about{
	min-height: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 80px;
	justify-items: center;
	align-items: center;
}

.about_img{
	text-align: center;
}
.about_img--left{
	text-align: left;
}
.about_picture{
	max-width: 80%;
}
.about_parragraf{
	margin-bottom: 20px;
	line-height: 1.5;
	font-weight: 300;
}

/*Video edit*/
.about_parragraf{
	text-align: left;
}
.Video_Developer_Edit{
	
	height: 60%;
	width: 70%;
	text-align: center;
}

/*projects*/
.projects{
	background: #f2f2f2;
}

.projects_grid{
	display: grid;
	height: 550px;
	grid-template-areas: "img1 img1 img2 img3"
	"img1 img1 img4 img5 ";
	gap:10px;
}
.projects_item{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.projects_img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}
.projects_item:nth-of-type(1){
	grid-area: img1;
}
.projects_item:nth-of-type(2){
	grid-area: img2;
}
.projects_item:nth-of-type(3){
	grid-area: img3;
}
.projects_item:nth-of-type(4){
	grid-area: img4;
}
.projects_item:nth-of-type(5){
	grid-area: img5;
}
.projects_hover{
	position: absolute;
	background: #dc143c8c;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateX(100%);
	cursor: pointer;
	transition: transform .3s ease-in-out;
}

.projects_item:hover .projects_hover{
	transform: translateX(0%);
}
.projects_icon{
	margin-top: 10px;
	font-size: 30px;
}

/*testimony*/

.testimony_grid{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}
.testimony_item{
	width: 95%;
	margin: 0 auto;
	background: var(--color-secundary);
	box-shadow: 0 8px 10px rgba(66,66,66, .5);
	border-radius: 7px;
	padding: 30px 25px;
	color: #fff;
	margin-bottom: 50px;
}

.testimony_person{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.testimony_img{
	width: 100px;
	min-width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
	border: 3px solid #fff;
	margin-right: 30px;
}

.testimony_name{
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.testimony_verication{
	color: #e0afa0;
	font-weight: 700;
}
/*footer*/

.footer{
	background: var(--color-primary);
}

.footer_grid{
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 20px;
	align-items: center;
}

.footer_title{
	font-weight: 400;
	color:#fff;
	font-size: 2rem;
	margin-bottom: 30px;
	text-align: left;
}

/.footer_icons{
	display: flex;
	justify-content: space-between;
	
	
}

.footer_container-icons{
	display: inline-block;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
}
.footer_icon{
	color:inherit;
	font-size: 30px;
	text-decoration: none;
	
}
.fab.footer_icon{
	line-height: 60px;
}

/*responsive desing

@media screen and (max-with: 800px;)
:root{
	--boton-padding: 18px; 40px;
}
.nav{
	justify-content: space-around;
}
.nav_items--cta{
	border: none;
}
.nav_items{
font-weight: 400;
	border-bottom: 1px solid #fff;
	margin-right: 0;
}

.nav_items--footer{
	border: none;
}
.hero_text{
	width: 100%;
	margin-bottom: 80px;
}
.hero_title{
	font-size: 2.5rem;
}
.hero_subtitle{
	font-size: 1.5rem;
}

/*about

.about{
	grid-template-columns: 1fr;
}
.about.container{
	padding-top: 30px;
}

.about_img--left{
	text-align: center;
}
.about_text:last-child{
	grid-row: 3/4;
}*/